.card{
    display: flex;
    flex-direction: row;
    background-image: url(/figma.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 761px;
    width: 1000px;

}
  .form_control{
      border-radius: 52px;
      box-sizing : border-box;
      width: 100%;
      padding: 10px;
      font-size: 9pt;
    }

  .box{
      width: 400px;
      padding: 15px 30px 78px 30px;
      border-radius: 10px;
    }
  .form_label{
      font-size: 19px;
      font-family: serif;
      color: black;
      font-weight: bold;
  }
  .judul{
      padding-left: 100px;
      padding-top: 25%;
      font-size: 500px;
      font-style: italic;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;

  }
  .headerjudulform{
      color: black;
      height: 90px;
      font-size: 50px;
  }
  .form{
      background-color: white;
      margin-left: 26%;
      margin-top: 17%;
      width: 100%;
      
  }
  .boxform{
      padding-top: 10%;
  }
  .judulwebsite{
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130px;
    color: white;
  }

  .link{
    color: blue;
  }
  
  .button1{
    border-radius: 10px;
    border-color: white;
    background-color: maroon;
    width: 120px;
    height: 45px;
    font-size: 15px;
    color: white;
  }

  .page{
    padding-top: 10px;
  }