.card{
    display: flex;
    flex-direction: row;
    background-image: url(/figma.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 761px;
    width: 1000px;
  }
  .form_control{
      border-radius: 52px;
      box-sizing : border-box;
      width: 100%;
      padding: 10px;
      font-size: 9pt;
    }
  .box{
      width: 400px;
      padding: 20px 30px 25px 30px;
      border-radius: 10px;
    }
  .form_label{
      font-size: 19px;
      font-family: serif;
      color: black;
      font-weight: bold;
  }
  .judul{
      padding-left: 100px;
      padding-top: 25%;
      font-size: 60px;
      font-style: italic;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
  }

  .judulwebsite{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130px;
    color: white;
    margin-top: 54px;
  }

  .header{
      color: black;
      font-size: 30px;
  }
  .form{
      padding-top: 14%;
      background-color: white;
      padding-left: 75px;
      padding-bottom: 19.5%;
      margin-left: 20%;
      
  }
  .boxform{
      padding-top: 10%;
  }
  .h1{
    padding-top: 33%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 135px;
  } 


  .link{
    color: blue;
    padding-top: -30px;
  }


  .button1{
    border-radius: 10px;
    border-color: white;
    background-color: maroon;
    width: 120px;
    height: 45px;
    font-size: 15px;
    color: white;
  }

  .judulheader{
    font-size: 45px;
    padding-bottom: 20px;
  }
  